@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #b4dae9;
  --white: #dff2f4;
  --light: #85bce0;
  --medium: #2f7caf;
  --dark: #14355f;
  --orange: #f08111;
  --dark-green: #145f22;
  --light-green: #78af2f;
  --lighter-green: #beef7f;
  --light-red: #e76262;
}

body {
  color: rgb(var(--green));
  background: var(--bg);
}
